# Git
.git
.gitignore

# Python
**/__pycache__/
*.py[cod]
*~
*.egg-info/
**/.venv/
**/venv/
**/env/

# Data and Outputs
job-scraping-app/data/
rendercv/rendercv_output/
rendercv/backups/
generated_cvs/

# Docker
docker-compose.yml
Dockerfile*

# UI/Mock Data
mock_data/
